<div class="global-wrapper">
  <div class="global-header">Page</div>

  <div data-user-id>[data-user-id]</div>

  <div class="header">
    <div class="header-image">
      @if (imagePath === '') {
        <div data-image-path>[data-image-path]</div>
      } @else {
        <img data-image-path src="" />
      }
    </div>
    <div data-header-text class="header-text">[data-header-text]</div>
  </div>

  <div data-email>[data-email]</div>
  <div data-city>[data-city]</div>
  <div data-state>[data-state]</div>
  <div data-zipcode>[data-ipcode]</div>
  <div data-ip-address>[data-ip-address]</div>

</div>