<div data-show-data-wrapper class="global-wrapper show-data-wrappers">
  <div class="global-header">Page</div>

  <button mat-flat-button (click)="back()">
    Back
  </button>

  <table>
    <thead>
      <tr>
        <th>Data Point</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>User ID</td>
        <td data-matcher="userid" class="userid">
          <span>[data-matcher&equals;"userid"]</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="header">
    <div class="header-image">
      @if (imagePath === '') {
        <div data-matcher="image-path" class="image-placeholder">[data-matcher&equals;"image-path"]</div>
      } @else {
        <img data-matcher="image-path" class="image-placeholder" src="" />
      }
    </div>
    <div data-matcher="header-text" class="header-text">[data-matcher&equals;"header-text"]</div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Data Point</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td data-matcher="email">
          <span>[data-matcher&equals;"email"]</span>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td data-matcher="city">
          <span>[data-matcher&equals;"city"]</span>
        </td>
      </tr>
      <tr>
        <td>State</td>
        <td data-matcher="state">
          <span>[data-matcher&equals;"state"]</span>
        </td>
      </tr>
      <tr>
        <td>Zipcode</td>
        <td data-matcher="zipcode">
          <span>[data-matcher&equals;"zipcode"]</span>
        </td>
      </tr>
      <tr>
        <td>IP Address</td>
        <td data-matcher="ip-address">
          <span>[data-matcher&equals;"ip-address"]</span>
        </td>
      </tr>
    </tbody>
  </table>

  <button mat-flat-button (click)="back()">
    Back
  </button>
</div>